// main.scss

@use './theme' as *;

.portifolio-header {
	display: flex;
	gap: 6rem;
	flex-direction: column;
	position: fixed;
	width: 25vw;
	text-transform: capitalize;
    overflow: hidden;

	&-title {
		font-size: $font-xl;
		line-height: $line-height-heading;
	}

	&-subtitle {
		font-size: $font-lg;
	}

	 &-content-text {
		font-size: $font-md;
		line-height: $line-height-base;
		color: $text;
		margin-top: 0.5rem;
		max-width: 20rem;
	}

	&-content,
	&-navigation {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.portifolio-header-navigation a {
		width: max-content;
		transition: color 0.3s ease;
		font-size: $font-md;
		min-height: 1.4375rem;

		&:hover {
			color: $accent;
			border-bottom: 2px solid $accent;
		}

		&.active {
			color: $primary;
			border-bottom: 2px solid $primary;
		}
	}

	.portifolio-header-social-icons {
		display: flex;
		gap: 1.5rem;
		margin-top: auto;

		a {
			color: $text;
			font-size: 1.5rem;
			transition: color 0.3s ease;
			text-decoration: none;

			&:hover {
				color: $primary;
			}

			.fa {
				font-size: 2rem;
			}
		}
	}
}