@use './theme' as *;
@use './stars' as *;

body {
	background-color: $background;
	background-image: generate-stars(100, ($text, $primary, $accent));
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0;
	color: $text;
}

.portifolio {
	display: flex;
	padding: 5rem;
	height: 100vh;
	overflow: auto;	
}


